body{
    margin: auto;
}
/*header*/
header{
    max-width: 100%;
    width: 100%;
    height: 150px;
     background-color:hsl(221.88deg 94.9% 69.22%);
    background-image:url(../img/pattern.png);
    background-size:  600px;
}

.head-logo{
height: 50px;
margin-top: 90px;
margin-left: 2px;
} 

/*main*/

main{
    margin-left: 5px;
    width: 100%;
}

/*first section*/
.main-title{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}
#blue-autor{
    color: hsl(198.3deg 78.74% 50.2%);
}
#main-info{
    color: hsl(0deg 0% 52.55%);
}
.main-img{
    margin-top: 10px;
}
.marked-text{
    background-color: yellow;
}

/*second section*/
.lorem-table{
    border: 0px;
    margin: 0;
}
.head-table{
    background-color:hsl(198.27deg 79.12% 51.18%);
    color:white;
}
.body-table{
    background-color: hsl(192deg 71.43% 82.16%);
}
