body{
    margin: auto;
}
/*header*/
header{
    max-width: 100%;
    width: 100%;
    height: 150px;
     background-color:hsl(221.88deg 94.9% 69.22%);
    background-image:url(../img/pattern.png);
    background-size:  575px;
}

.head-logo{
height: 50px;
margin-top: 90px;
margin-left: 2px;
} 
